<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hiram Mendoza - Web developer</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <style>
            :root {
                --primary: #66cc33;
                --primary-dark: #58b32d;
                --primary-darker: #4ab126;
                --white: #ffffff;
                --light-gray: #f5f5f5;
                --gray: #eeeeee;
                --dark: #000000;
                --text: #333333;
            }

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            }
            /**Global**/

            h2 {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
            }
            p {
                font-family: "Open Sans", sans-serif;
                font-size: 1.2rem;
            }

            /**Container**/
            .container {
                max-width: 800px;
                margin: 0 auto;
                padding: 1rem 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            a {
                text-decoration: none;
                color: inherit;
            }

            /*Navbar*/
            .navbar {
                margin: 2rem auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 1rem;
                background-color: var(--white);
                border: 3px solid black;
                border-radius: 3rem;
                box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
            }

            .navbar-logo {
                font-size: 1.2rem;
                font-weight: bold;
                color: var(--text);
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                font-style: normal;
            }

            .navbar-links {
                list-style: none;
                display: flex;
                gap: 1rem;
                align-items: center;
            }

            .navbar-link {
                text-decoration: none;
                color: var(--text);
                font-weight: 600;
                transition: color 0.3s;
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                font-style: normal;
                font-size: 1.2rem;
            }

            .navbar-theme_button {
                display: flex;
                align-self: center;
                background: none;
                border: 3px solid black;
                border-radius: 50%;
                padding: 0.5rem;
                cursor: pointer;
                font-size: 1rem;
            }

            /**Hero secion**/
            .hero-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 0.5rem;
            }

            .hero-button {
                width: 220px;
                border: 3px solid black;
                border-radius: 3rem;
                background-color: white;
                padding: 0.75rem 1.5rem;
                margin: 0.5rem;
                cursor: pointer;
                font-family: "Poppins", sans-serif;
                font-size: 1rem;
                font-weight: 800;
                box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
            }
        </style>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar container">
            <h1 class="navbar-logo">HIRAM MENDOZA</h1>
            <ul class="navbar-links">
                <a class="navbar-link" href="/">Home</a>
                <a class="navbar-link" href="/portfolio">Portfolio</a>
                <a class="navbar-link" href="/">Blog</a>
                <a class="navbar-link" href="/">Contact</a>
                <button class="navbar-theme_button"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-moon-stars-fill"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"
                        ></path>
                        <path
                            d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"
                        ></path>
                    </svg></button
                >
            </ul>
        </nav>

        <!-- Hero section -->
        <section class="hero container">
            <img
                src="/transhumans_Roboto.svg"
                alt="Humanoid happy robot"
                style="width: 300px;"
            />
            <div class="hero-content">
                <h2>ABOUT</h2>
                <p>
                    I'm a <b>web developer</b> passionate about creating meaningful
                    digital experiences that merge innovative design with flawless
                    functionality, transforming visionary concepts into responsive,
                    high-performance web applications using modern technologies such
                    as React, Vue, and Astro. I'm committed to technical excellence,
                    intuitive usability, and measurable impact in every project I
                    undertake.
                </p>
                <div>
                    <button class="hero-button" onclick="location.href='src/assets/CV_Hiram_Mendoza_Espanol.pdf'">Download Resume</button>
                    <a href="/portfolio"><button class="hero-button">Go to portfolio</button></a>
                </div>
            </div>
        </section>
        
        <h2 class="container">Hey! If your looking this message right know, my website is still in progress. To get a better experience, please open this site on a desktop computer or a device with a width of at least 800px</h2>
        <!-- work in progress 
        
        <section class="technologies-stack">
            <div class="container">
                <div class="web-technologies">
                    <h2>Web:</h2>
                    <div class="technologies-list">
                        <i
                            class="fa-brands fa-html5 fa-3x"
                            style="color: #e34f26;"></i>
                        <i
                            class="fa-brands fa-css3-alt fa-3x"
                            style="color: #264de4;"></i>
                        <i
                            class="fa-brands fa-js-square fa-3x"
                            style="color: #f0db4f;"></i>
                        <i
                            class="fa-brands fa-react fa-3x"
                            style="color: #61dafb;"></i>
                        <i
                            class="fa-brands fa-vuejs fa-3x"
                            style="color: #42b883;"></i>
                        <i
                            class="fa-brands fa-node-js fa-3x"
                            style="color: #68a063;"></i>
                        <i
                            class="fa-brands fa-git-alt fa-3x"
                            style="color: #f34f29;"></i>
                        <i
                            class="fa-brands fa-github fa-3x"
                            style="color: #333;"></i>
                    </div>
                </div>
                <div class="design-technologies">
                    <h2>Design:</h2>
                    <div class="technologies-list">
                        <i
                            class="fa-brands fa-figma fa-3x"
                            style="color: #f24e1e;"></i>
                        <i
                            class="fa-brands fa-adobe fa-3x"
                            style="color: #ff0000;"></i>
                        <i
                            class="fa-brands fa-sketch fa-3x"
                            style="color: #f7b500;"></i>
                    </div>
                </div>
                <div class="AI-technologies">
                    <h2>AI:</h2>
                    <div class="technologies-list">
                        <i
                            class="fa-brands fa-python fa-3x"
                            style="color: #306998;"></i>
                        <i
                            class="fa-brands fa-aws fa-3x"
                            style="color: #ff9900;"></i>
                        <i class="fa-solid fa-robot fa-3x" style="color: #666;"
                        ></i>
                    </div>
                </div>
            </div>

            <section class="social">
                <div class="container">
                    <h2>Find me on:</h2>
                    <div class="social-links">
                        <button>LinkedIn</button>
                        <button>Github</button>
                        <button>Dribble</button>
                    </div>
                </div>

        -->

                <footer>
                    <div class="container">
                        <p>&copy; 2025 Hiram Mendoza. All rights reserved.</p>
                    </div>
                </footer>
            </section>
        </section>
    </body>
</html>
