---
import Navlinks from "../components/molecules/navlinks/navlinks.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiram Mendoza - Portfolio</title>
</head>
<body>
<Navlinks />


</body>
</html>