<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hiram Mendoza - Web developer</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <style>
            :root {
                --primary: #66cc33;
                --primary-dark: #58b32d;
                --primary-darker: #4ab126;
                --white: #ffffff;
                --light-gray: #f5f5f5;
                --gray: #eeeeee;
                --dark: #000000;
                --text: #333333;
            }

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            }
            /**Global**/

            h2 {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
            }
            p {
                font-family: "Open Sans", sans-serif;
                font-size: 1.2rem;
            }

            /**Container**/
            .container {
                max-width: 800px;
                margin: 0 auto;
                padding: 1rem 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            /*Navbar*/
            .navbar {
                margin: 2rem auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 1rem;
                background-color: var(--white);
                border: 3px solid black;
                border-radius: 3rem;
                box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
            }

            .navbar-logo {
                font-size: 1.2rem;
                font-weight: bold;
                color: var(--text);
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                font-style: normal;
            }

            .navbar-links {
                list-style: none;
                display: flex;
                gap: 1rem;
                align-items: center;
            }

            .navbar-link {
                text-decoration: none;
                color: var(--text);
                font-weight: 600;
                transition: color 0.3s;
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                font-style: normal;
                font-size: 1.2rem;
            }

            .navbar-theme_button {
                display: flex;
                align-self: center;
                background: none;
                border: 3px solid black;
                border-radius: 50%;
                padding: 0.5rem;
                cursor: pointer;
                font-size: 1rem;
            }

            /** Projects container **/
            .projects {
                display: flex;
                gap: 3rem;
            }

            /** IFRAMES **/

            iframe {
                width: 800px;
                height: 600px;
                border: none;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin-top: 1rem;
            }
        </style>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar container">
            <h1 class="navbar-logo">HIRAM MENDOZA</h1>
            <ul class="navbar-links">
                <a class="navbar-link" href="/">Home</a>
                <a class="navbar-link" href="/">Portfolio</a>
                <a class="navbar-link" href="/">Blog</a>
                <a class="navbar-link" href="/">Contact</a>
                <button class="navbar-theme_button"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-moon-stars-fill"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"
                        ></path>
                        <path
                            d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"
                        ></path>
                    </svg></button
                >
            </ul>
        </nav>

        <!-- Temporal projects container -->

        <section class="projects container">
            <div>
                <h2>Pomodoro Timer</h2>
                <p>
                    A simple Pomodoro Timer application built with HTML, CSS,
                    and JavaScript. It helps users manage their time effectively
                    by breaking work into intervals, typically 25 minutes in
                    length, separated by short breaks.
                </p>
                <iframe src="https://hirammendozadev.github.io/simplePomodoro/" frameborder="0"></iframe>
            </div>

            <div>
                <h2>Random Anime generator</h2>
                <p>This project fetches and displays information about a random anime using the Jikan API, which provides data from MyAnimeList. It selects a random anime ID, retrieves its full details, and presents key information such as title, synopsis, genres, score, and more. The project is developed with vanilla JavaScript and styled using the SimpleCSS framewor</p>
                <iframe src="https://hirammendozadev.github.io/random-anime-generator/" frameborder="0"></iframe>
            </div>

            <div>
                <h2>Car insurance quote calculator</h2>
                <p>
                    A car insurance quote calculator built with HTML, CSS, and
                    JavaScript. It allows users to input their car details and
                    personal information to receive an estimated insurance
                    quote.
                </p>
                <iframe
                    src="https://onealpacamore.github.io/ejercicio-cotizador-seguros-auto/"
                    frameborder="0"></iframe>
            </div>

            <div>
                <h2>Digital Wallet Website</h2>
                <p>Electronic Wallet landsite for a fake company.</p>
                <iframe src="https://onealpacamore.github.io/09-nucleus-eWallet/" frameborder="0"></iframe>
            </div>

            <div>
                <h2>Coffee Shop Website</h2>
                <p>Landpage for an invented coffee shop.</p>
                <iframe src="https://onealpacamore.github.io/PaginaWebCafeteria/" frameborder="0"></iframe>
            </div>

            <div>
                <h2>Podcast website</h2>
                <p>Landpage for a new "make your podcast" site.</p>
                <iframe src="https://onealpacamore.github.io/PaginaWebPodcast/" frameborder="0"></iframe>
            </div>

            <div>
                <h2>Architecture website</h2>
                <p>Page for a invented Architecture services site.</p>
                <iframe src="https://onealpacamore.github.io/08-sitioWebArquitectura/" frameborder="0"></iframe>
            </div>

            
            <div>
                <h2>TechPro Headpohnes site</h2>
                <p>Page for promoting the new TechPRO headphones</p>
                <iframe src="https://onealpacamore.github.io/07-audifonosTechPro/" frameborder="0"></iframe>
            </div>

             <div>
                <h2>Furniture shop site</h2>
                <p>Page for promoting an invented furniture shop site</p>
                <iframe src="https://onealpacamore.github.io/eCommerce_tienda_muebles/index.html" frameborder="0"></iframe>
            </div>

              <div>
                <h2>Lemmy Kilmister tribute page</h2>
                <p>Small page in the memory of Lemmy Kilmister, Motorhead singer. R.I.P</p>
                <iframe src="https://onealpacamore.github.io/fcc-tribute-page/" frameborder="0"></iframe>
            </div>

            <footer>
                <div class="container">
                    <p>&copy; 2024 Hiram Mendoza. All rights reserved.</p>
                </div>
            </footer>
        </section>
    </body>
</html>
